html{
   margin: 0;
}
span{
    display: block;
}
.canvas{
margin: 100% auto 100px;
width: 80%;
    text-align: center;
}
.button{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}
#gray{
    background: grey;
}
#white{
    background: white;
}
#red{
    background: red;
}
#green{
    background: green;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
